<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rick And Morty Carousel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--styles-->
	<link rel="stylesheet" href="./public/styles/index.css">
	<link rel="stylesheet" href="public/styles/particles.css">
	<link rel="shortcut icon" href="./public/images/rick-icon.png" type="image/x-icon">
	<!--fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
	<!-- particles.js container -->
	<div id="particles-js"></div>
	<!-- header-->
	<header>
		<img class="header-logo" src="./public/images/rickAndMortyLogo.png" alt="rickAndMortyLogo.png">
	</header>
	<!-- main-->
	<main>
		<div class="btn-author-container">
			<input id="btn-author" class="btn-author" type="button">
		</div>
		<div id="template-container">
			<!--here we render the templates-->
		</div>
        <!--inputs prev and next-->
            <div class="input-container">
                <input id="btn-prev" type="button" value="Prev">
                <input id="btn-next" type="button" value="Next">
            </div>
	</main>
	<!-- scripts -->
	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<script src="public/js/particles.js"></script>
	<script src="public/js/app.js"></script>
	<script type = "module" src="public/js/fetchData.js"></script>
	<script type= "module" src="public/js/callback.js"></script>
</body>
</html>